# http://nedbatchelder.com/code/coverage/config.html#config

[run]
branch = True
omit =
    */tests/*
    */migration/*

[report]
omit =
    */tests/*
    */migration/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
